{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {# {% if error %}
            <div class="danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="logged">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
    #}
    <h1> Welcome back!</h1>
    <div class="login_main_container">
        <div class="login-div">
            <div class="logo_login"></div>
            <div class="title_login">Login</div>


        </div>

    </div>





{% endblock %}
