{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<section class="decor sectionImg">
    <img src="{{ asset('images/stars.png') }}" id="stars">
    <img src="{{ asset('images/moon.png') }}" id="moon">
    <img src="{{ asset('images/mountains_behind.png') }}" id="mountains_behind">
    <h2 id="textMoto">Advanced simplicity</h2>
    <a href="#sec" id="btnWhite">Explore</a>
    <img src="{{ asset('images/mountains_front.png') }}" id="mountains_front">
</section>

    <div class="sec" id="sec">
        <h2>Who are we ?</h2>
        <p>Lycus Labs provides 3D modeling solutions and custom software plugins to businesses.<br>
            The modeling solutions are not intended for a specific market. Indeed, the company aims to provide solutions to different fields such as architecture, video games, machinery, etc.<br>
            The software plugins, on the other hand, are intended for artists and users of 3D modeling and rendering software.
            <br><br>

        </p>
    </div>
{% endblock %}