<h1>{% trans %}Hi! Welcome to LycusLabs website !{% endtrans %}</h1>
<section>
<h2>{% trans %}Please confirm your email!{% endtrans %}</h2>
<p>
    {% trans %}Please confirm your email address by clicking the following link:{% endtrans %} <br><br>
    <a href="{{ signedUrl }}">{% trans %}Confirm my Email{% endtrans %}</a>.
    {% trans %}This link will expire in {% endtrans %}{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {% trans %}Cheers!{% endtrans %}
</p>
</section>