{% extends 'base.html.twig' %}

{% block title %}New Carousel{% endblock %}

{% block body %}
<div class="forms_container">
    <h1>Create new Carousel</h1>

    {{ include('carousel/_form.html.twig') }}
    {% for message in app.flashes('error') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
    {% endfor %}

    <a class="button_inset" href="{{ path('carousel_index') }}">back to list</a>
    </div>
{% endblock %}
