{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <h1>{% trans %}Your password is up to date !{% endtrans %}</h1>
        <img class="mt-30" style="width: 200px" src="{{ asset('images/passwordlock.png') }}" alt="password_reset_success">
        <h3 class="mt-30">{% trans %}You can now access to the website with your new password !{% endtrans %}</h3>
        <a href="{{ path("app_login") }}" class="button mt-30">{% trans %}LOGIN{% endtrans %}</a>
    </section>
{% endblock %}