{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>
<section>
    <div class="card_dash">

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
<div class="buttons_panel">
    <div class="row">
        {{ include('category/_delete_form.html.twig') }}

        <a class= "button_inset_back" href="{{ path('category_index') }}">back to list</a>

    </div>
</div>
    </div>
</section>
{% endblock %}
