{% extends 'base.html.twig' %}

{% block title %}New ImagesServices{% endblock %}

{% block body %}
    <h1>Create new ImagesServices</h1>

    <section>
        <div class="card_dash">

            {{ include('images_services/_form.html.twig') }}

            <a class="button_inset" href="{{ path('images_services_index') }}">back to list</a>

        </div>
    </section>
{% endblock %}
