{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}


<!-- START OF THE SERVICES -->
<div class="col">
    <h1>{% trans %}SERVICES{% endtrans %}</h1>
    <p class="txt_center">{% trans %}Do you have a specific project to develop and would like to discuss it with us? We would love to hear about it!{% endtrans %} <br>
        {% trans %}Please, {% endtrans %}<a class="link-design" href="{{ path('contact') }}">{% trans %} contact us.{% endtrans %}</a></p>
    <div class="main_container">

        <div class="col">
            {% for item in services %}
                <div>
                    {% if loop.index0 is even %}
                        {# Je viens inclure un template gauche #}
                        {{ include ("services/service_template_1.html.twig") }}
                    {% else %}
                        {# et un template droite #}
                        {{ include ("services/service_template_2.html.twig") }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- /END OF THE SERVICES -->
    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
</div>

{% endblock %}
