{% extends 'base.html.twig' %}

{% block title %}HomeController!{% endblock %}

{% block body %}


<!-- START OF THE SERVICES -->

<div class="margin-top">
    <div class="main_container">
        <div class="row">
            {% for item in services %}
                <div>
                    {% if loop.index0 is even %}
                        {{ include ("services/service_template_1.html.twig") }}
                    {% else %}
                        {{ include ("services/service_template_2.html.twig") }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>


    <!-- /END OF THE SERVICES -->
    {% endblock %}
