{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}


<!-- START OF THE SERVICES -->
<div class="col">
    <h1>{% trans %}SERVICES{% endtrans %}</h1>
    <div class="main_container">
        <div class="col">
            {% for item in services %}
                <div>
                    {% if loop.index0 is even %}
                        {# Je viens inclure un template gauche #}
                        {{ include ("services/service_template_1.html.twig") }}
                    {% else %}
                        {# et un template droite #}
                        {{ include ("services/service_template_2.html.twig") }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- /END OF THE SERVICES -->
    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
</div>

{% endblock %}
