{% extends 'base.html.twig' %}

{% block title %}Privacy policy{% endblock %}

{% block body %}
<aside class="info_container">

<h1>{% trans %}Privacy Policy for Lycus Labs{% endtrans %}</h1>

    <p>{% trans %}At lycuslabs.com, accessible from https://lycuslabs.com/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by lycuslabs.com and how we use it.{% endtrans %}</p>

    <p>{% trans %}If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.{% endtrans %}</p>

    <p>{% trans %}This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in lycuslabs.com. This policy is not applicable to any information collected offline or via channels other than this website. Our Privacy Policy was created with the help of the{% endtrans %} <a href="https://www.privacypolicygenerator.info" class="link-design">{% trans %}Free Privacy Policy Generator{% endtrans %}</a>.</p>
</aside>
<aside class="info_container">

<h2>{% trans %}Consent {% endtrans %}</h2>

    <p>{% trans %}By using our website, you hereby consent to our Privacy Policy and agree to its terms.{% endtrans %}</p>
</aside>
<aside class="info_container">

<h2>{% trans %}Information we collect{% endtrans %}</h2>

    <p>{% trans %}The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.{% endtrans %}</p>
    <p>{% trans %}If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.{% endtrans %}</p>
    <p>{% trans %}When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.{% endtrans %}</p>
</aside>
<aside class="info_container">

<h2>{% trans %}How we use your information{% endtrans %}</h2>

    <p>{% trans %}We use the information we collect in various ways, including to:{% endtrans %}</p>

    <ul class="mt-20 mb-10">
        <li> {% trans %}- Provide, operate, and maintain our website{% endtrans %}</li>
        <li> {% trans %}- Improve, personalize, and expand our website{% endtrans %}</li>
        <li> {% trans %}- Understand and analyze how you use our website{% endtrans %}</li>
        <li> {% trans %}- Develop new products, services, features, and functionality{% endtrans %}</li>
        <li> {% trans %}- Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes{% endtrans %}</li>
        <li> {% trans %}- Send you emails{% endtrans %}</li>
        <li> {% trans %}- Find and prevent fraud{% endtrans %}</li>
    </ul>
</aside>
<aside class="info_container">

<h2>{% trans %}Log Files{% endtrans %}</h2>

    <p>{% trans %}lycuslabs.com follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.{% endtrans %}</p>
</aside>
<aside class="info_container">

<h2>{% trans %}Cookies and Web Beacons{% endtrans %}</h2>

    <p>{% trans %}Like any other website, lycuslabs.com uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.{% endtrans %}</p>

    <p>{% trans %}For more general information on cookies, please read{% endtrans %} <a href="https://www.generateprivacypolicy.com/#cookies" class="link-design">{% trans %}the Cookies article on Generate Privacy Policy website.{% endtrans %}</a></p>
</aside>
<aside class="info_container">

<h2>{% trans %}Google DoubleClick DART Cookie{% endtrans %}</h2>

    <p>{% trans %}Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL –{% endtrans %}</p> <a href="https://policies.google.com/technologies/ads" class="link-design">{% trans %}Google policies{% endtrans %}</a>
</aside>
<aside class="info_container">

<h2>{% trans %}Our Advertising Partners{% endtrans %}</h2>

    <p>{% trans %}Some of advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies on user data. For easier access, we hyperlinked to their Privacy Policies below.{% endtrans %}</p>

             <p>{% trans %}Google{% endtrans %}</p>
            <a href="https://policies.google.com/technologies/ads" class="link-design">{% trans %}Google policies{% endtrans %}</a>
    <p>{% trans %}We have integrated the consent management tool "consentmanager" (www.consentmanager.net) from consentmanager AB (Håltgelvågen 1b, 72348 Västerås, Sweden, info@consentmanager.net) on our website to obtain consent for data processing and use of cookies or comparable functions. With the help of "consentmanager" you have the possibility to give your consent for certain functionalities of our website, e.g. for the purpose of integrating external elements, integrating streaming content, statistical analysis, measurement and personalized advertising. With the help of “consentmanager” you can grant or reject your consent for all functions or give your consent for individual purposes or individual functions. The settings you have made can also be changed afterwards. The purpose of integrating “consentmanager” is to let the users of our website decide about the above-mentioned things and, as part of the further use of our website, to offer the option of changing settings that have already been made. By using “consentmanager”, personal data and information from the end devices used, such as the IP address, are processed by consentmanager. In addition, the processed information may also be stored on your device.

        The legal basis for processing is Art. 6 Para. 1 S. 1 lit. c) in conjunction with Art. 6 para. 3 sentence 1 lit. a) in conjunction with Art. 7 para. 1 GDPR and, in the alternative, lit. f). By processing the data, consentmanager helps us (according to GDPR this is the responsible party) to fulfill our legal obligations (e.g. obligation to provide evidence). Our legitimate interests in processing lie in the storage of user settings and preferences with regard to the use of cookies and other functionalities. "Consentmanager" stores your data as long as your user settings are active. After two years after making the user settings, the consent will be asked again. The user settings made are then saved again for this period.
        You can object to the processing. You have the right to object to reasons arising from your particular situation. To object, please send an email to info@consentmanager.net.{% endtrans %}</p>

</aside>
<aside class="info_container">

<h2>{% trans %}Advertising Partners Privacy Policies{% endtrans %}</h2>

    <P>{% trans %}You may consult this list to find the Privacy Policy for each of the advertising partners of lycuslabs.com.{% endtrans %}</p>

    <p>{% trans %}Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on lycuslabs.com, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.{% endtrans %}</p>

    <p>{% trans %}Note that lycuslabs.com has no access to or control over these cookies that are used by third-party advertisers.{% endtrans %}</p>
</aside>
<aside class="info_container">

<h2>{% trans %}Third Party Privacy Policies{% endtrans %}</h2>

    <p>{% trans %}lycuslabs.com's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. {% endtrans %}</p>

    <p>{% trans %}You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.{% endtrans %}</p>
</aside>
<aside class="info_container">

<h2>{% trans %}CCPA Privacy Rights (Do Not Sell My Personal Information){% endtrans %}</h2>

    <p>{% trans %}Under the CCPA, among other rights, California consumers have the right to:{% endtrans %}</p>
    <ul class="mt-20 mb-10">
    <li> {% trans %}Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.{% endtrans %}</li>
    <li> {% trans %}Request that a business delete any personal data about the consumer that a business has collected.{% endtrans %}</li>
    <li> {% trans %}Request that a business that sells a consumer's personal data, not sell the consumer's personal data.{% endtrans %}</li>
    <li> {% trans %}If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.{% endtrans %}</li>
    </ul>
</aside>
<aside class="info_container">

<h2>{% trans %}GDPR Data Protection Rights{% endtrans %}</h2>

    <p>{% trans %}We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:{% endtrans %}</p>
    <ul class="mt-20 mb-10">
    <li> {% trans %}- The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.{% endtrans %}</li>
    <li> {% trans %}- The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.{% endtrans %}</li>
    <li> {% trans %}- The right to erasure – You have the right to request that we erase your personal data, under certain conditions.{% endtrans %}</li>
    <li> {% trans %}- The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.{% endtrans %}</li>
    <li> {% trans %}- The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.{% endtrans %}</li>
    <li> {% trans %}- The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.{% endtrans %}</li>
    <li> {% trans %}- If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.{% endtrans %}</li>
    </ul>
</aside>
<aside class="info_container">

<h2>{% trans %}Children's Information{% endtrans %}</h2>

    <p>{% trans %}Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.{% endtrans %}</p>

    <p>{% trans %}lycuslabs.com does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.{% endtrans %}</p>
</aside>

    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
{% endblock %}
