/* IMPORT DU FICHIER STYLE.CSS */
@import url("style.css");
@import url("product.css");

.wrapper_cart{
    max-width: 1300px;
    margin: 0 auto;
}
.wrapper_cart h1{
    padding: 30px 0;
}
.project{
    display: flex;
}
.shop{
    flex: 65%;
}
.box_article{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 25px;
    transition: all .6s ease;
    box-shadow: var(--box-shadow-inset);
    border-radius: 25px;
}
.update{
    justify-content: center;
    width: fit-content;
    padding: 0 20px;
    height: 30px;
    font-weight: 700;
    color: var(--darkgrey);
    margin-left: 10px;
    background: var(--whitebg);
    box-shadow: var(--box-shadow);
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    border-radius: 25px;
}
.update:hover{
    color: var(--blue);
    box-shadow: var(--box-shadow-inset);
}
/*ANIMATION SUR LES PRODUITS DU PANIER*/
.box_article:hover{
    transform:scale(1.02);
}

.box_article img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    padding: 10px;
}
.content_article{
    padding: 20px;
    position: relative;
    width: 100%;
}
.content_article h3{
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--darkblue);
}

.content_article input{
    width: 70px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left:10px;
    border:1px solid var(--blue);

}
/* PARTIE DROITE DU PANIER*/
.right_bar{
    flex: 35%;
    padding: 20px;
    height: fit-content;
    border-radius: 15px;
    background-color: var(--whitebg);
    box-shadow: var(--box-shadow);
    text-align: center;
    }
.right_bar hr{
    margin-bottom: 25px;
}
.right_bar p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 1.2em;
}
.right_bar a{
    align-self: flex-end;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1.15px;
    background: var(--gradient);
    color: var(--extrawhite);
    box-shadow: var(--box-shadow);
    border: none;
    outline: none;
    padding: 15px;
    cursor:pointer;
}
.right_bar a:hover{
    background: var(--mediumgrey);
}
.right_bar input{
    font-family: 'Inter', sans-serif;
    width: 180px;
    height: 30px;
    padding: 18px;
    font-size: 1em;
    border:1px solid var(--blue);
}

.button_delete{
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: var(--darkgrey);
    box-shadow: var(--box-shadow);
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button_delete:hover{
    color: var(--blue);
    box-shadow: var(--box-shadow-inset);
}
.project>.col{
    align-items: center;
}
.project>.col>a{
    width: fit-content;
    margin-top: 40px;
}

.total_price{
    font-size: 1.2em;
    font-weight: 700;
    color: var(--darkblue);
}

.codeValid{
    margin-top: 15px;
    color: var(--blue);
    text-align: left;
}
.codeWrong{
    margin-top: 15px;
    color: red;
    text-align: left;
}