/* IMPORT DU FICHIER STYLE.CSS */
@import url("style.css");
@import url("product.css");

.wrapper_cart{
    max-width: 1300px;
    margin: 0 auto;
}
.wrapper_cart h1{
    padding: 30px 0;
}
.project{
    display: flex;
}
.shop{
    flex: 75%;
}
.box_article{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 25px;
    transition: all .6s ease;
    box-shadow: var(--box-shadow-inset);
    border-radius: 25px;
}
/*ANIMATION SUR LES PRODUITS DU PANIER*/
.box_article:hover{
    transform:scale(1.02);
}

.box_article img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    padding: 10px;
}
.content_article{
    padding: 20px;
    position: relative;
    width: 100%;
}
.content_article h3{
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--darkblue);
}

.content_article input{
    width: 70px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left:10px;
    border:1px solid var(--blue);

}
/* PARTIE DROITE DU PANIER*/
.right_bar{
    flex: 30%;
    margin-left:20px;
    padding: 20px;
    height: 400px;
    border-radius: 15px;
    background-color: var(--whitebg);
    box-shadow: var(--box-shadow);
}
.right_bar hr{
    margin-bottom: 25px;
}
.right_bar p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 1.2em;
}
.right_bar a{
    align-self: flex-end;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1.15px;
    background: var(--gradient);
    color: var(--extrawhite);
    box-shadow: var(--box-shadow);
    border: none;
    outline: none;
    padding: 15px;
    cursor:pointer;
}
.right_bar a:hover{
    background: var(--mediumgrey);
}
.right_bar input{
    font-family: 'Inter', sans-serif;
    width: 180px;
    height: 30px;
    padding: 18px;
    font-size: 1em;
    border:1px solid var(--blue);

}
.total_price{
    font-size: 1.2em;
    font-weight: 700;
    color: var(--darkblue);
}

/* PARTIE RESPONSIVE DU PANIER*/
@media screen  and (max-width: 700px){
    .content_article h3{
        margin-bottom: 15px;
    }
    .content_article h4{
        margin-bottom: 20px;
    }
    .remove{
        display: none;
    }
    .box_article{
        height: 150px;
    }
    .box_article img{
        height: 150px;
        width: 200px;
    }
}
@media screen and (max-width: 900px){
    .project{
        flex-direction: column;
    }
    .right_bar{
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media  screen and (max-width: 1250px){
    .wrapper_cart{
        max-width: 95% ;
    }
}
