/* IMPORT DU FICHIER STYLE.CSS*/
@import url("style.css");

.footer_container{
    max-width: 100%;
    margin: auto;
    box-shadow: 0 -15px 10px -15px var(--purpleshade);
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-evenly;
}

.footer{
    margin-top: 75px;
    padding: 0 0 25px 0;
    background: var(--whitebg);
}

.footer_col{
    padding: 0 50px;
}

.footer_col h4{
    text-transform: uppercase;
    margin-bottom: 20px;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
/* RESEAUX SOCIAUX */
.form__icon {
    object-fit: contain;
    width: 40px;
    opacity: 0.5;
    transition: 0.15s;
}
.form__icon:hover {
    opacity: 1;
    transition: 0.15s;
    cursor: pointer;
}

/*PAGES DE TERMES*/

.info_container{
    box-shadow: var(--box-shadow-inset);
    height: fit-content;
    width:95%;
    padding: 25px;
    margin: 25px 0 0 2.5%;
    border-radius: 25px;
}

.link-design{
    text-decoration: none;
    color: var(--purple);
}