/* IMPORT DU FICHIER STYLE.CSS*/
@import url("style.css");

.footer_container{
    max-width: 100vw;
    margin: auto;
    box-shadow: 10px 10px 15px var(--purpleshade),
    -10px -10px 15px var(--extrawhite);
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-around;
}

.footer{
    z-index: 1900;
    margin-top: 75px;
    padding: 0px 0 25px 0;
    position: relative;
    background: var(--whitebg);
}

.footer_col{
    width: 25%;
    padding: 0 50px;
}

.footer_col h4{
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
/* RESEAUX SOCIAUX */
.form__icon {
    object-fit: contain;
    width: 40px;
    opacity: 0.5;
    transition: 0.15s;
}
.form__icon:hover {
    opacity: 1;
    transition: 0.15s;
    cursor: pointer;
}
/* RESPONSIVE FOOTER */

@media screen and (max-width: 945px){
    .footer_col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media all and (min-width: 816px) and (max-width: 944px) {
    .footer_col {
        width: 100%;
        margin-bottom: 30px;
    }
}
/* TO DO*/
@media all and (min-width: 720px ) and (max-width: 815px) {

}
@media only screen and (max-width: 350px) {
    .footer_col {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .row{
        flex-wrap: wrap;
    }

}