/* IMPORT DU FICHIER STYLE.CSS */
@import url("style.css");
@import url("product.css");

.box_payment{
    display: flex;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 25px;
    transition: all .6s ease;
    box-shadow: var(--box-shadow-inset);
    border-radius: 25px;
}
.box_payment:hover{
    transform:scale(1.02);
}

.box_payment img{
    width: 110px;
    height: fit-content;
    object-fit: cover;
    border-radius: 25px;
    padding: 10px;
}
.container_content_cart{
    flex: 65%;
    height: fit-content;
}
.content_payment{
    padding: 20px;
    position: relative;
    width: 100%;
}
.content_payment h3{
    color: var(--darkblue);
}
.container_delivery{
    margin-top: 30px;
    text-align: center;
    height: fit-content;

}
/* PARTIE DROITE DU PANIER*/
.right_bar_products{
    flex: 35%;
    margin-left:20px;
    padding: 20px 20px 20px 20px;
    height: fit-content;
    border-radius: 15px;
    background-color: var(--whitebg);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.small_card{
    box-shadow: var(--box-shadow-inset);
    height: fit-content;
    border-radius: 20px;
    padding: 20px 20px 40px 20px;
    margin-bottom: 40px;

}
/* BOUTON AJOUTER ADRESSE*/
.button_add_adresse{
    text-decoration: none;
    font-weight: 700;
    width: 180px;
    height: 50px;
    color: var(--darkgrey);
    box-shadow: var(--box-shadow);
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 30px;
    margin-top: 35px;
}
.button_add_adresse:hover{
    color: var(--blue);
    box-shadow: var(--box-shadow-inset);
}

/* INPUT ADRESSE */
.user_adresse{
    width: 320px;
    border: none;
    outline:none;
    font-size: 1.2em;
    background-color: var(--whitebg);
    transition: 0.25s ease;
    border-radius: 8px;
    padding: 20px 0 20px 30px;
    box-shadow: var(--box-shadow-inset);
    margin-top: 15px;
}

fieldset .form-check {
    padding: 20px 0;
    margin: 10px 0 0 0;
}

fieldset .form-check:nth-child(even) {
    background-color: var(--lightgrey);
}
legend{
    color: var(--blue);
    font-weight: 700;
}

.left{
    float: left;
    margin-top: 5px;
    color: var(--blue);
}
.nb_Prod{
    margin-left: 20px;
    margin-top: 2px;
}