/* IMPORT DU FICHIER STYLE.CSS */
@import url("style.css");
@import url("register.css");

 .product_container{
     box-shadow: 10px 10px 15px var(--lightgrey),
                 -10px -10px 15px var(--extrawhite);
     width: 100%;
     height: 100%;
     border-radius: 20px;
     padding: 0 50px 0px 30px;

 }

.ariane{
    color: var(--mediumgrey);
    font-size: 1em;
    font-family: 'Inter', sans-serif;
}

.small-container{
    max-width: 90%;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col{
    flex-direction: column;

}

.single-product{
    margin-top: 30px;
}
.small-img-row{
    display: flex;
    justify-content: space-around;
}
.imgProd_Box{
    width: 100%;
    border:1px solid #eaeff5;
    margin-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 9px 9px 16px var(--lightgrey),
    -9px -9px 16px var(--extrawhite);
}
.imgProd_Box img{
    display: block;
    width: inherit;
    height: inherit;
    object-fit: cover;
    padding: 50px 0;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 h1{
    font-family: 'Inter', sans-serif;
     font-size: 2.5em;
    line-height: 60px;
    margin: 0px 0px 10px 0px;
    color: var(--purple);
}
.single-product h2{
    font-family: 'Inter', sans-serif;
    margin: 0 0 20px 0 ;
    font-size: 1.8em;
    font-weight: 700;

}
.single-product h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--blue);
}
.qty{
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: var(--black);
}

.single-product input{
    font-family: 'Inter', sans-serif;
    width: 50px;
    height: 40px;
    padding-left: 18px;
    font-size: 20px;
    margin-right: 10px;
    border:1px solid var(--blue);
}
input:focus{
    outline:none;
}
.margin-b{
    margin-bottom: 25px;

}

p{
    margin: 5px;
    font-size: 1.2em;
    color: var(--darkgrey);
}
.link{
    text-decoration: none;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    background: var(--gradient);
    color: var(--extrawhite);
    box-shadow: 8px 8px 16px var(--lightgrey),
                -8px -8px 16px var(--extrawhite);
    border: none;
    outline: none;
    padding: 10px;


}

.link:hover{
    background: var(--mediumgrey);
}