/* IMPORT DU FICHIER STYLE.CSS et REGISTER.CSS pour certaines classes */
@import url("style.css");

 .product_container{
     box-shadow: var(--box-shadow-inset);
     width: 100%;
     height: 100%;
     border-radius: 20px;
     padding: 10px 50px 20px 30px;
     margin-bottom: 15px;
 }

.small-container{
    max-width: 90%;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 50px;
}
.product_info{
    display: flex;
    flex-wrap: wrap;
}

.small-img-row{
    display: flex;
    justify-content: space-around;
}
.imgProd_Box{
    border:1px solid #eaeff5;
    margin-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 2px var(--darkgrey),
                0 0 0 5px var(--extrawhite),
                var(--box-shadow);
}
.small-img{
    border-radius: 15px;
    box-shadow: 0 0 2px var(--darkgrey),
                0 0 0 5px var(--extrawhite),
                var(--box-shadow);
}
.small-img:hover{
    transform:scale(1.02);
}
.imgProd_Box img{
    display: block;
    width: inherit;
    height: inherit;
    object-fit: cover;
    padding: 50px 0;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 h1{
    margin: 0 0 10px 0;
    padding: 0;
}
.single-product h2{
    margin: 0 0 20px 0 ;
}
.price_prod{
    color: var(--darkblue);
}

.single-product input{
    width: 70px;
    margin-left: 10px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    margin-right: 10px;
    border:1px solid var(--blue);
}
input:focus{
    outline:none;
}

/* RESPONSIVE PRODUCTS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .product_container{
        box-shadow: var(--box-shadow-inset);
        height: 100%;
        border-radius: 20px;
        padding: 10px 20px 20px 20px;
        margin-bottom: 15px;
    }

    .small-container{
        margin: 0 auto;
        padding-top: 50px;
        align-content: center;
    }
    .col-2{
        min-width: auto;
    }
    .single-product .col-2{
        padding: 10px;
    }

    .imgProd_Box{
        border:1px solid #eaeff5;
        margin-bottom: 15px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 2px var(--darkgrey),
        0 0 0 5px var(--extrawhite),
        var(--box-shadow);
    }

    .small-img-row{
        display:none;
        flex-direction: column
    }


  .button{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .product_info{
      display: flex;
      flex-direction: column;
  }
}


/* Small devices (portrait tablets and large phones,landscape tablets,laptops/desktops 600px and up to 1030px) */
@media only screen and (min-width: 600px) and (max-width: 1030px ) {
    .product_container{
        box-shadow: var(--box-shadow-inset);
        height: 100%;
        border-radius: 20px;
        padding: 10px 20px 20px 20px;
        margin-bottom: 15px;
    }

    .small-container{
        margin: 0 auto;
        padding-top: 50px;
        align-content: center;
    }
    .col-2{
        min-width: auto;
    }

    .single-product .col-2{
        padding: 10px;
    }

    .imgProd_Box{
        border:1px solid #eaeff5;
        margin-bottom: 15px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 2px var(--darkgrey),
        0 0 0 5px var(--extrawhite),
        var(--box-shadow);
    }

    .button{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .product_info{
        display: flex;
        flex-direction: column;
    }
}
/* Extra large devices (large desktops,between 1030px and 1400px) */
@media only screen and (min-width: 1030px) and (max-width: 1400px){
    .product_container{
        box-shadow: var(--box-shadow-inset);
        height: 100%;
        border-radius: 20px;
        padding: 10px 20px 20px 20px;
        margin-bottom: 15px;
        justify-content: center;
    }

    .small-container{
        margin: 0 auto;
        padding-top: 50px;
        align-content: center;
    }
    .col-2{
        min-width: auto;
    }
    .imgs_box{
        align-items: center;
        width: 80%;
    }
    .single-product .col-2{
        padding: 10px;
    }

    .imgProd_Box{
        border:1px solid #eaeff5;
        margin-bottom: 15px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 2px var(--darkgrey),
        0 0 0 5px var(--extrawhite),
        var(--box-shadow);
    }

    .button{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .product_info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


