/* IMPORT DU FICHIER STYLE.CSS */
@import url("style.css");

.profile_container {
    background-color: #ecf0f1;
    width: 100%;
    justify-content: space-between;
}

.profile-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

/* NAV BAR USER PROFILE */
.header {
    width: 20%;
    margin: 20px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: all 0.3s;
}

.header .navbar_user img {
    width: 50px;
}

.header .navbar_user a {
    display: block;
    margin: 1.5rem 0;
    width: auto;
}
.adresses_box .button{
    margin: 10px auto;
}
.header .navbar_user a:hover {
    background: var(--mediumgrey);
}

.header .navbar_user {
    width: fit-content;
    margin: 0 auto;
    padding-top: 5rem;
}
.sections-content{
    width: 75%;
    margin: 0 auto;
}
.sections-content h1{
    padding-bottom:0;
}

/* ADRESSES PART*/
.adresses_box {
    margin: 20px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    background: var(--whitebg);
    transition: all 0.3s;

}
.adresses_box:hover {
    transform: translateY(-20px);
}
.adresses_box h3{
    margin-top: 20px;
}
section{
    width: 100%;
    text-align: center;
}

.sections-row{
    width: 80%;
    margin: 0 auto;

}
/* BOUTONS */
.button_inset{
    text-decoration: none;
    font-weight: 700;
    color: var(--darkgrey);
    box-shadow: var(--box-shadow);
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 30px;
}
.button_inset:hover{
    color: var(--blue);
    box-shadow: var(--box-shadow-inset);
}
.button{
    margin: 0 auto;
    text-align: center;
}


/* TABLES*/
table {
    border-collapse: collapse;
    width: 95%;
    margin: 50px auto;
}
th{
    color: var(--purple);
    font-size: 1em;
    margin-bottom: 10px;
}

td, th {
    border: 1px solid var(--mediumgrey);
    text-align: left;
    padding: 8px;
    max-width: 100px;
    overflow-wrap: anywhere;
}

tr:nth-child(even) {
    background-color: var(--lightgrey);
}

/* IMGS*/
.img_downloads{
    width: 20px;
}
.img_sort{
    width: 10px;
    height: 10px;
}
.img_sorted{
    background: none;
    border: none;
    cursor: pointer;
}
/*TARGETS POUR LE JAVASCRIPT*/
#licenses{
    display: none;
}
#orders{
    display: none;
}
#support{
    display: none;
}
#downloads{
    display: none;
}

/* ACTIVE BUTTON POUR NAVBAR USER */
.button.active{
    background: var(--mediumgrey);
}


/* FORUMULAIRE CONTACT PROFIL */

.message_profile_container {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.message_profile_container > .button_inset_back{
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}
.message_container{
    box-shadow: var(--box-shadow);
    min-width: 280px;
    margin-top: 70px;
    padding: 30px 30px;
    border-radius: 25px;
}
.message_container h4{
    margin-bottom: 20px;
}
.formProfileMessage{
    font-family: 'Inter', sans-serif;
    outline: none;
    font-size: 1.2em;
    width: 470px;
    padding: 20px 30px 70px 40px;
    margin: 2px 0;
    letter-spacing: 0.15px;
    border: none;
    background-color: var(--whitebg);
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: var(--box-shadow-inset);
}
.profile_message_input{
    width: 470px;
    letter-spacing: 0.15px;
    margin: 10px 0;
    border: none;
    outline:none;
    background-color: var(--whitebg);
    transition: 0.25s ease;
    border-radius: 8px;
    padding: 20px 30px 20px 40px;
    font-size: 1.2em;
    box-shadow: var(--box-shadow-inset);
}

/* SELECTIONS TABLES */

label {
    font-size: 1rem;
    padding-right: 10px;
    color: var(--darkgrey);
}

select {
    font-size: .9rem;
    padding: 2px 5px;
    color: var(--purple);
}