/* IMPORT DU FICHIER STYLE.CSS */
@import url("style.css");

.profile_container {
    background-color: #ecf0f1;
    width: 100%;
  /*  justify-content: center;
    align-items: center; */
}

.profile-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

/* NAV BAR USER PROFILE */
.header {
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 25px;
    cursor: pointer;
    max-width: 320px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s;
}

.header .navbar_user img {
    width: 50px;
}

.header .navbar_user a {
    display: block;
    margin: 1.5rem 0;
    width: auto;
}

.header .navbar_user a:hover {
    background: var(--mediumgrey);
}

.header .navbar_user {
    padding-top: 5rem;
}


/* ADRESSES PART*/
.adresses_box {
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 25px;
    cursor: pointer;
    max-width: 320px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s;

}
.adresses_box:hover {
    transform: translateY(-20px);
}

section{
    text-align: center;
}
/* BOUTONS */
.mb-50{
    margin-bottom: 50px;
}


/* TABLES*/
table {
    border-collapse: collapse;
    width: 100%;

}
th{
    color: var(--purple);
    font-size: 1em;
    margin-bottom: 10px;
}

td, th {
    border: 1px solid var(--mediumgrey);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--lightgrey);
}

/* IMGS DOWNLOADS */
.img_downloads{
    width: 20px;
}