/* IMPORT DU FICHIER STYLE.CSS */
@import url("style.css");
@import url("register.css");
@import url("product.css");

.main_container{
    width: 100%;
    height: 100%;
    display: flex;
}

.service_container{
    box-shadow: var(--box-shadow);
    width: 90%;
    height: 92%;
    border-radius: 20px;
    margin: 3% 30px 3% 30px;
    padding: 30px 30px 60px 30px;
}

.service_container_inset{
    box-shadow: var(--box-shadow-inset);
    width: 90%;
    height: 92%;
    border-radius: 20px;
    margin: 3% 30px 3% 30px;
    padding: 30px 30px 60px 30px;
}

.imgServ_Box{
    width: 100%;
    flex-wrap: wrap;
    height: 500px;
    border:1px solid #eaeff5;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 2px var(--darkgrey),
                0 0 0 5px var(--extrawhite),
                var(--box-shadow);
}
.imgServ_Box img{
    display: block;
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.left_side{
    float: left;
    margin-left:40px;
}
.right_side{
    float: right;
    margin-right: 40px;
}
.text_left{
    margin-top: 20px;
}
.text_right{
    margin-bottom: 20px;
}

.small-img_serv {
    border-radius: 15px;
    margin: 0 25px 0 0;
    width: 150px;
    height: 80px;
    box-shadow: 0 0 2px var(--darkgrey), 0 0 0 5px var(--extrawhite), var(--box-shadow);
}
#right-serv{
    display: flex;
    justify-content: flex-end;
}
