/* TYPOS IMPORTEES DE GOOGLE FONTS : Nom : "Inter"; Dimensions: "Extra-light 200, Light 300, Regular 400, Bold 700"; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap');
/* STYLE PRINCIPAL DU SITE*/

/* VARIABLES COULEURS*/
:root {
    /* Nuances de blanc */
    --extrawhite: #f9f9f9ff; /* couleur utilisée pour la lumières des cadres neumorphisme*/
    --whitebg: #edf0f1ff; /* couleur utilisée pour le background*/
    /* Nuances de gris */
    --lightgrey: #d3dce7ff; /* couleur utilisée pour les ombres des cadres neumorphisme*/
    --mediumgrey: #a0a5a8ff; /* couleur utilisée pour les textes moins importants et pour les hovers des boutons(ex: fil d'ariane)*/
    --darkgrey: #7d7f79ff; /* couleur utilisée pour les textes*/
    --black: #181818ff;
    --border:.1rem solid rgba(0,0,0,.2); /* bordure utilisée pour le profil user */
    /* Couleurs */
    --purple: #4d23be; /* couleur utilisée pour les sous titres*/
    --purpleshade: rgba(52,110,219,30%);
    --blue: #346edb; /* couleur utilisée pour le mot de passe oublié et les liens sign up ou sign in*/
    --darkblue: #2b1055; /* couleur utilisée pour les titres*/
    --red: #AC1C47; /* couleur utilisée pour les background des boutons remove ou delete*/
    /* Dégradé de bleu à violet pour les boutons normaux*/
    --gradient: linear-gradient(94deg, rgba(89,161,226,1) 0%, rgba(55,81,197,1) 70%, rgba(77,35,190,1) 100%);
    --box-shadow: 10px 10px 15px var(--lightgrey),
                  -10px -10px 15px var(--extrawhite);
    --box-shadow-inset: inset 8px 8px 15px var(--lightgrey),
    inset -8px -8px 15px var(--extrawhite);
}

/* CLASSES PARTAGEES CSS */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height:100%;
    background-color:var(--whitebg);
    color: var(--darkgrey);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 60px;
    padding: 30px 0;
    color: var(--darkblue);
}

h2{
    font-weight: 700;
    font-size: 2em;
    color: var(--darkblue);
    text-transform: uppercase;
}

h3{
    color: var(--purple);
    font-size: 1.5em;
    margin-bottom: 10px;
}

h4{
    color: var(--purple);
    font-size: 1em;

}

p{
    font-family: 'Inter', sans-serif;
    font-size:1.2em;
    color: var(--darkgrey);
}
/* DEBUT DU FOOTER */
ul{
    list-style: none;

}
.footer_col a{
    font-size: 1em;
    color: var(--darkblue);
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    padding-top: 10px;
}

.footer_col a:hover{
    color: var(--blue);
}

/* COLONNE */
.col{
    display: flex;
    flex-direction: column;
}
/* LIGNE ROW */

.row{
    display: flex;
    flex-wrap: wrap;
}


/* QUANTITE PRODUIT*/
.qty{
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: var(--black);
}

/* TEXTE ALIGNEMENT */
.txt_right{
    text-align: right;
}
.txt_center{
    text-align: center;
}
.txt_justify{
    text-align: justify;
}
/* ALIGNEMENT CONTENT*/
.align_item_center{
    align-items: center;
}
.justify_cnt_center{
    justify-content: center;
}
/* MARGES ET PADDINGS */

.mb-10{
    margin-bottom: 10px;
}
.mb-50{
    margin-bottom: 50px;
}
.mt-5{
    margin-top: 5px;
}
.mt-30{
    margin-top: 30px;
}
.mt-20{
    margin-top: 20px;
}
.pt-80{
    padding-top: 80px;
}
.m-8{
    margin: 8px;
}
.m-20{
    margin: 20px;
}
/* BOUTONS */
/* J'utilise la class .btn-form et je vise l'input qui sert de bouton dans mes formulaires */
.btn-form input{
    background: var(--gradient);
    width: 180px;
    height: 50px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1em;
    color: var(--extrawhite);
    box-shadow: var(--box-shadow);
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-form input:hover{
    background: var(--mediumgrey);
}
.button{
    text-decoration: none;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    font-weight: 700;
    background: var(--gradient);
    color: var(--extrawhite);
    box-shadow: var(--box-shadow);
    border: none;
    outline: none;
    padding: 15px;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
}

.button:hover{
    background: var(--mediumgrey);
}

.remove{
    position: absolute;
    justify-content: center;
    bottom: 25px;
    right: 20px;
    width: 110px;
    height: 40px;
    font-weight: 700;
    color: var(--darkgrey);
    box-shadow: var(--box-shadow);
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    border-radius: 25px;
    background: var(--whitebg);
}
.remove:hover{
    color: var(--blue);
    box-shadow: var(--box-shadow-inset);
}


/* INPUTS ET ICONS DES FORMULAIRES */
.user{
    width: 320px;
    border: none;
    outline:none;
    background-color: var(--whitebg);
    transition: 0.25s ease;
    border-radius: 8px;
    padding: 20px 0 0 5px;
    box-shadow: var(--box-shadow-inset);
}
.small_icon{
    margin-left: 15px;
    width: 15px;
}

/*  DEBUT DE LA NAVBAR  */
nav{
    width: 100%;
    height: 70px;
    background: var(--whitebg);
    margin-bottom: 5px;
    box-shadow: 0 15px 10px -15px var(--purpleshade);
    z-index: 1000;
}

nav .logo{
    color: black;
    font-size: 27px;
    font-weight:600;
    line-height: 80px;
    margin: 0 3%;
    font-family: 'Inter', sans-serif;
}
.mainMenu{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 80%;
    justify-content: flex-end;
}
.mainMenu li{
    list-style: none;
    display: block;
}

.mainMenu li a{
    font-family: 'Inter', sans-serif;
    color: var(--darkblue) ;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
/* Pour donner un effet de halo autour des boutons del la navbar lorsqu'on on passe dessus*/
.mainMenu li a:hover{
    border-radius: 5px;
    color: var(--purple);
    box-shadow: 0 0 5px var(--blue),
                0 0 5px var(--blue);
}
/* Pas de halo autour des boutons du dropdown*/
.mainMenu ul li a:hover {
    color: var(--purple);
    box-shadow: none;
}

.mainMenu ul {
    top:90px ;
    box-shadow: 10px 10px 15px var(--purpleshade);
    opacity:0;
    position: absolute;
    transition:top .3s;
    border-top: solid var(--purple);
    background: var(--whitebg);
    z-index: 1000;
}
.mainMenu li:hover:focus-within > ul {
    top:70px ;
    opacity: 1;
}
.mainMenu ul li{
    margin: 0;
    width: 180px;
    display: list-item;
    border-bottom: 1px solid var(--lightgrey) ;
}
.mainMenu ul li a{
    line-height: 50px;
}

.burger_m{
    display: none;
}

