/* IMPORT DU FICHIER STYLE.CSS */
@import url("style.css");

.team_container{
    background-color: #ecf0f1;
    justify-content: center;
    align-items: center;

}

.team-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}
.member{
    flex: 1 1 250px;
    margin: 20px;
    text-align:center;
    padding: 30px 20px;
    border-radius: 25px;
    cursor: pointer;
    max-width: 320px;
    background: var(--whitebg);
    box-shadow: var(--box-shadow);
    transition: all 0.3s;
}

.member:hover{
    transform: translateY(-20px);
}

.imgBox{
    width: 150px;
    height: 150px;
    border:1px solid #eaeff5;
    margin:0 auto;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 0 2px var(--darkgrey),
                0 0 0 5px var(--extrawhite),
                var(--box-shadow);
}
.imgBox img{
    display: block;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.member h2{
    font-size: 1.8em;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 10px;
}
.member h3{
    font-size: 1.2em;
}

.member p{
    margin-top: 15px;
    text-align: center;
}