/* IMPORT DU FICHIER STYLE.CSS */
@import url("style.css");

.team_container{
    position: relative;
    background-color: #ecf0f1;
    font-family: 'Inter', sans-serif;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title_team{
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    line-height: 60px;
    margin: 75px 0px 0px 0px;
    color: var(--purple);

}

.team-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}
.member{
    flex: 1 1 250px;
    margin: 20px;
    text-align:center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    box-shadow: 9px 9px 16px var(--lightgrey),
    -9px -9px 16px var(--extrawhite);
    transition: all 0.3s;
}

.member:hover{
    transform: translateY(-20px);
}

.imgBox{
    width: 150px;
    height: 150px;
    border:1px solid #eaeff5;
    margin:0 auto;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 9px 9px 16px var(--lightgrey),
    -9px -9px 16px var(--extrawhite);
}
.imgBox img{
    display: block;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.member h2{
    text-transform: uppercase;
    font-size: 24px;
    color: var(--black);
    margin: 8px 0;
}

.member h6{
    text-align: center;
    color: var(--darkgrey);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 15px;

}
.member p{
    font-size: 15px;
    color: var(--blue);
    line-height: 1.6;
}