{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>
    <section>
        <div class="card_dash">
    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
            <div class="buttons_panel">
                <div class="row">
        {{ include('product/_delete_form.html.twig') }}

    <a class="button_inset_back" href="{{ path('product_index') }}">back to list</a>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
