{% extends 'base.html.twig' %}

{% block title %}Edit ImagesProduct{% endblock %}

{% block body %}
    <h1>Edit ImagesProduct</h1>

    {{ include('images_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('images_product_index') }}">back to list</a>

    {{ include('images_product/_delete_form.html.twig') }}
{% endblock %}
