{% extends 'base.html.twig' %}

{% block title %}New ImagesProduct{% endblock %}

{% block body %}
    <h1>Create new ImagesProduct</h1>

    {{ include('images_product/_form.html.twig') }}

    <a href="{{ path('images_product_index') }}">back to list</a>
{% endblock %}
