{% extends 'base.html.twig' %}

{% block title %}Edit Adresse
{% endblock %}

{% block body %}
    <h1>Edit my address</h1>

    <div class="forms_container">
        <div class="col">
                {{ include('adresse/_form.html.twig', {'button_label': 'Update'}) }}
                <br>
                <a class="button_inset" href="{{ path('profil') }}">Back to profil</a>
        </div>
    </div>



{% endblock %}
