<!-- {% extends 'base.html.twig' %} {% block title %}Produit index{% endblock %} {%
block body %} -->
<body>
    
</body>
<section>
  <h1 class="title">Our team</h1>
  <div class="team-row">
    <div class="member">
      <img src="../../public/images/team/LucileDebuchy1.jpg" alt="" />
      <h2>Lucile Debuchy</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque quas
        recusandae tempora repellendus, corrupti tempore sed debitis dolorum
        explicabo laboriosam repudiandae pariatur, est similique voluptatibus
        tenetur at delectus, asperiores error.
      </p>
    </div>
    <div class="member">
        <img src="../../public/images/team/LucileDebuchy1.jpg" alt="" />
        <h2>Lucile Debuchy</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque quas
          recusandae tempora repellendus, corrupti tempore sed debitis dolorum
          explicabo laboriosam repudiandae pariatur, est similique voluptatibus
          tenetur at delectus, asperiores error.
        </p>
      </div>
      <div class="member">
        <img src="../../public/images/team/LucileDebuchy1.jpg" alt="" />
        <h2>Lucile Debuchy</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque quas
          recusandae tempora repellendus, corrupti tempore sed debitis dolorum
          explicabo laboriosam repudiandae pariatur, est similique voluptatibus
          tenetur at delectus, asperiores error.
        </p>
      </div>
  </div>
</section>


</body>
<!-- {% endblock %} -->
