{% extends 'base.html.twig' %}

{% block title %}Shopping cart{% endblock %}

{% block body %}
    <div class="wrapper_cart">
        <h1>Shopping Cart</h1>
        <div class="project">
            <div class="shop">
                {% for item in cart %}
                    <div class="box_article">
                        <img src="{{ asset('images/products/' ~ item.product.image) }}" alt="imageProduit">
                        <div class="content_article">
                            <h3>{{ item['product'].title }}</h3>
                            <h4 class="mb-10">
                                <td>{{ item ['total'] }} €
                            </h4>
                            <label class="qty">Quantity : x {{ item ['quantity'] }}</label>
                            <input type="number" value="1">
                            <button aria-label="update" class="update">UPDATE
                                <button aria-label="remove" class="remove">REMOVE
                                </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {# COTE DROIT DU PANIER #}
            <div class="right_bar">
                <p><span>Subtotal</span> <span> 7000 €</span></p>
                <hr>
                <p><span>Coupon Code</span> <input placeholder="DISCOUNT20"></p>
                <hr>
                <p class="total_price"><span>TOTAL</span> <span>7000 €</span></p>

                <a href="payment.html.twig">Checkout</a>
            </div>
        </div>
    </div>
    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}

{% endblock %}