{% extends 'base.html.twig' %}

{% block title %}Confirmation order{% endblock %}

{% block body %}
<h3>Thank you for your order !</h3>
    <p>You can now go to your Profile and download your product and enter your activation key.</p>
<a href="{{ path('home') }}" class="button"> Continue shopping</a>
{% endblock %}
