{% extends 'base.html.twig' %}

{% block title %}Confirmation order{% endblock %}

{% block body %}
<h3>{% trans %}Thank you for your order !{% endtrans %}</h3>
    <p>{% trans %}You can now go to your Profile and download your product and enter your activation key.{% endtrans %}</p>
<a href="{{ path('home') }}" class="button"> {% trans %}Continue shopping{% endtrans %}</a>
{% endblock %}
