{% extends 'base_admin.html.twig' %}

{% block title %}Dashboard Admin!{% endblock %}

{% block contain %}
    <h3>Hello, {{ app.user.firstName }} !</h3>
    <h4>Here you can manage the website!

        You can see all users and orders placed.
        You can generate discount codes and create and edit categories, products, services, team members, and carousel images. </h4>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}

