{% extends 'base_admin.html.twig' %}

{% block title %}Dashboard Admin!{% endblock %}
{% block contain %}
    <article class="dash_contain">
    <h3>{% trans %}Hello{% endtrans %}, {{ app.user.firstName }} !</h3>
    <h4 class="desktop-responsive">{% trans %}Here you can manage the website!
        You can see all users and orders placed.
        You can generate discount codes and create and edit categories, products, services, team members, and carousel images.{% endtrans %} </h4>
        <h4 class="mobile_responsive ">
            {% trans %}  Please use a Desktop version to access to your admin panel ! {% endtrans %}
        </h4>
    </article>

{% endblock %}



