{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin!{% endblock %}

{% block body %}
<h1>DASHBOARD</h1>


    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
{% endblock %}
