{% extends 'base.html.twig' %}

{% block title %}SUPPORT PROFILE{% endblock %}

{% block body %}
    <div class="message_profile_container">
        <div class="message_container">
            <h2>{% trans %}Need some assistance about a order or a product?{% endtrans %}</h2>
                <h4>{% trans %}We are really sorry to hear that you have a problem ! Please let us know and we will fix it !{% endtrans %}</h4>


            {{ form_start(message_form) }}
            <form method="post">

                    {{ form_widget(message_form) }}

                    <button type="submit" class="button mt-30" name="submit">SUBMIT</button>

                {{ form_end(message_form) }}

            </form>

        </div>
        <a class="button_inset_back" href="{{ path('profil') }}"> Back to profil</a>


    </div>
{% endblock %}
