{% extends 'base.html.twig' %}

{% block title %}SUPPORT PROFILE{% endblock %}

{% block body %}
    <div class="message_profile_container">
        <div class="message_container">
            <h2>Need some assistance about a order or a product?</h2>
                <h4>We are really sorry to hear that you have a problem ! Please let us know and we will fix it !</h4>


            {{ form_start(message_form) }}
            <form method="post">

                    {{ form_widget(message_form) }}

                    <button type="submit" class="button mt-30" name="submit">SUBMIT</button>

                {{ form_end(message_form) }}

            </form>
        </div>
    </div>
{% endblock %}
